body{

    padding: 0px;
    margin: 50px;
    background: url("../img/fondo1.jpg") no-repeat center top;
    background-size: cover;
    margin-top: -2px;
}
.quet img{

    width:350px;
    height: 500px;
}
.que{

    width:350px;
    height:350px;
    margin-left: 100px;
    text-align:justify;
}
#vis{
  text-align:center;
}